* {
    cursor: url(./assets/Black\ Pixel--cursor--SweezyCursors.png) , auto;
}

body {
    /*background-image: url(./assets/black\ tile.jpg);
    background-repeat: repeat;
    background-size: 120px;
    background-position-x: 0;*/
    background-color: rgb(255, 255, 255);
    margin: 0;
    /*animation: 2s linear 0s infinite running RepeatingBackground;*/
    user-select: none;
}

/*@keyframes RepeatingBackground {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }

    50% {
        background-position-x: 60px;
        background-position-y: 60px;
    }

    100% {
        background-position-x: 120px;
        background-position-y: 120px;
    }
}*/

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-size: 60px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    font-style: normal;
    user-select: none;
    position: absolute;
    top: 450px;
    /* Change me! */
    left: 0px;
}

.board {
    height: 100vh;
    overflow-x: hidden;
}

.home {
    position: absolute;
    top: 5px;
    left: 5px;
}

.portfolio {
    position: absolute;
    top: 5px;
    left: 85px;
}

/*#score {
    color: white;
    font-family: "Slackey", sans-serif;

}*/

/*.scoreboard {
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Slackey", sans-serif;
    font-size: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-style: normal;
    margin: 0 auto;
}*/

#score-container {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
    left: 35vw;
    font-family: "Slackey", sans-serif;
    font-size: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-style: normal;
}

.misclicks {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
    left: 50vw;
    font-family: "Slackey", sans-serif;
    font-size: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-style: normal;
}