body {
  margin: 0px;
  background-image: url(assets/grid.jpg);
}

canvas {
  background-image: url(assets/background.png);
  margin: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(0, 0, 0);
}

img {
  display: none;
}


